.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.greed{
  display: grid;
  margin-top: 20px;
  width: 100%; 
  max-width: 340px;
  padding: 20px;
  gap: 20px;
  border: 1px solid black;
}
.cell{
  background-color: transparent;
  border: 1px solid black;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
}
.cell-activated{
  background-color: green;
}