.container{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60vh;
 
}
.inputBox{
  width: 50px;
  height: 50px;
  font-weight: 42px;
  margin-right: 10px;
  text-align: center;
}