.product-card{
  display: flex;
  width: 210px;
  border: 1px solid black;
  margin: 2px;
  padding: 4px;
  flex-wrap: wrap;
 
}
.product-image{
  width: 200px;
  height: 200px;
  
}

.product-container{
  display: flex;
  flex-wrap: wrap;
}
.pagging-container{
  padding: 5px;
  margin: 2px;
  font-size: large;

}
.active{
  background-color: aqua;
}